@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Univers;
  font-style: normal;
  font-weight: 400;
  src: local('Univers 55 Roman'), local('Univers'),
    url(/univers-55-roman.woff2) format('woff2');
}

@layer base {
}
